body {
    background-color: #111;
    color: white;

    #grid {
        $cell-padding: 3px;

        display: flex;
        width: 1000px;
        height: calc(1000px * 2/3);
        flex-direction: column;
        padding: $cell-padding;
        font-size: 1.8em;
        font-family: Arial Black;
        border-radius: 6px;
        user-select: none;
        background-color: #222;

        .row {
            display: flex;
            flex: 1;
            width: 100%;

            .cell {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                margin: $cell-padding;
                border-radius: 3px;
                background-color: #555;
                color: #ddd;

                &.value-0 {
                    color: transparent;
                }
                &.value-1 {
                    color: cyan;
                }
                &.value-2 {
                    color: green;
                }
                &.value-3 {
                    color: red;
                }
                &.value-4 {
                    color: blue;
                }
                &.value-5 {
                    color: darkred;
                }
                &.value-X {
                    background-color: #111;
                    color: darkred;
                }

                transition: transform 0.07s ease;
                &:hover {
                    transform: scale(98%);
                }

                &.hidden {
                    background-color: #333;
                    color: transparent;

                    &:hover {
                        transform: scale(96%);
                    }
                    &:active {
                        transform: scale(91%);
                    }
                }
            }
        }
    }
}
